# DatoCMS
DATOCMS_DRAFT_CONTENT_CDA_TOKEN=
DATOCMS_PUBLISHED_CONTENT_CDA_TOKEN=
DATOCMS_CMA_TOKEN=

# Secret API Token
#
# This is a secret token that you can use to authenticate requests to your API.
# To avoid exposing our public API routes to the world, we can use this token to authenticate requests.
#
# You can use `openssl rand -hex 32` or any other cryptographically-secure random string generator).
# It will be used to safeguard all route handlers from incoming requests from untrusted sources:
SECRET_API_TOKEN=

# Site URL
SITE_URL=http://localhost:3000